footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 2rem
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  letter-spacing: 0.05rem;
}

.footer h3 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer ul li {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.footer ul li a {
  color: black
}

.footer ul li:hover {
  transform: scale(1.03);
}

@media screen and (min-width:990px) {
  footer {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer {
    margin: 3rem 15vw 0 0rem;
  }
}

@media screen and (min-width:1200px) {
  footer {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer {
    margin: 3rem 15vw 0 7rem;
  }
}