/* main */
.h2--main {
  font-size: 2.2rem;
  margin: 2rem 3rem 0 3rem;
  word-wrap: break-word;
}

.p--main {
  font-size: 1.6rem;
  margin: 2rem 3rem 0 3rem;
}

/* search form */
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #F2F2F2;
  width: 90%;
  max-width: 50rem;
  height: 100%;
  margin: 4rem auto;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

form label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  height: 100%;
  width: 15%;
  padding: 1rem;
}

form i {
  padding: 0.5rem;
  font-size: 1.8rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  background: #0065FC;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem;
}

button i {
  color: white;
  font-size: 1.8rem;
}

.search {
  height: 100%;
  width: 80%;
  padding: 1rem;
  margin-top: 0.3rem;
  font-size: 2rem;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
}

.search:focus {
  outline: none !important;
}

.search--button--alternate {
  display: none;
}



/* desktop */
@media screen and (min-width:990px) {
  .h2--main {
    margin-left: 3rem;
  }

  .p--main {
    margin-left: 3rem;
  }

  form {
    min-width: 28rem;
    justify-content: flex-start;
    margin: 4rem 0 4rem 3rem;
  }

  form label {
    height: 100%;
    width: 15%;
    padding: 1.6rem;
  }

  .search--button {
    display: none;
  }

  .search--button--alternate {
    display: block;
    width: 35%;
    background: #0065FC;
    border: none;
    padding: 2.1rem;
    border-radius: 0 1.5rem 1.5rem 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
  }
}

/* big-desktop */
@media screen and (min-width:1200px) {
  .h2--main {
    margin-left: 10rem;
  }

  .p--main {
    margin-left: 10rem;
  }

  form {
    margin: 4rem 0 4rem 10rem;
  }
}