/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway-bold";
  src: url("./fonts/Raleway-Bold.ttf") format("ttf");
  font-weight: 700;
}

/* général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: auto;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.color--blue {
  color: #0065FC;
}

.bg--grey {
  color: #f2f2f2;

}

.bold {
  font-weight: bold;
}

.cards h2 {
  margin: 3rem 0 1rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0vw;
  color: #000;
}

@media screen and (min-width:990px) {
  .cards h2 {
    margin: 1rem 0 0 1vw;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0vw;
    color: #000;
  }
}

@media screen and (min-width:1200px) {
  .cards h2 {
    margin: 1rem 0 0 1vw;

  }

  .cards--accommodation h2 {
    margin-left: 4vw;
  }
}